body {
    background: #f0f0f0;
}

header {
    height: 8em;
}

h1 {
}
h2 {
}
/*@font-face {*/
/*    font-family: 'Anton', sans-serif;*/
/*    font-family: 'Balsamiq Sans', sans-serif;*/
/*    font-family: 'Montserrat', sans-serif;*/
/*}*/

.logo{
    width: 105px;
    height: 105px;
}

.navbar-toggler{
    position: absolute;
    right: 10px;
    top: 20px;
    height: 50px;
}

.font-v{
    font-family: Anton, sans-serif;
}



