body {
    background: #f0f0f0;
}

header {
    height: 8em;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}


.logo{
    width: 105px;
    height: 105px;
}


.font-v{
    font-family: Anton, sans-serif;
}

.font-a{
    font-family: 'Abel', sans-serif;
}

.circle {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 7px solid white;
    border-radius: 50px;
    color: white;
    text-align: center;
    margin: 2vw;
}

.sm-cir{
    width: 18px;
    height: 18px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 4px 0 4px;
}

/*small icon circles*/
.sm-red {
    background-color: rgb(213, 96, 69);
}

.sm-blue {
    background-color: rgb(76, 168, 168);
}

.sm-orange {
    background-color: rgb(224, 160, 78);
}

.sm-green {
    background-color: rgb(135, 175, 115);
}


/*big circles*/
#red {
    background-color: rgb(213, 96, 69);
}

#blue {
    background-color: rgb(76, 168, 168);
}

#orange {
    background-color: rgb(224, 160, 78);
}

#green {
    background-color: rgb(135, 175, 115);
}

.brd-clr{
    color: rgb(230, 230, 230);
}